//doctype html
//html(lang = 'en') 
//   head
//        title = affiche
//        script( src ='jquery.min.js') 
//    body
//        form
//            input != prenom
//    	    input != nom
//    	    input != email
//    	    input != motDePasse
//    	    input ! = jour + '/' + mois + '/' + annee
//    	    input != genre


h1!= prenom
h1!= nom
h1!= email
h1!= motDePasse
h1!= date
h1!= genre